nav {
    height: fit-content;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
    height: 100%;
}

.navbar a {
    color: #ffffff;
    font-weight: 500;
    font-size: 50px;
    text-decoration: none;
    margin-left: 20px;
}